<script lang="ts" setup>
import { ref } from "vue";

const emo = ref("Smile");

const switchImg = (e: string) => {
  emo.value = e;
};
</script>

<template>
  <v-container>
    <v-row
      ><v-col>
        <v-img :src="'/feeling_imgs/' + emo + '.png'" width="60%"></v-img>
      </v-col>
      <v-col>
        <div class="fill-height">
          <div class="text-h3 text-center">{{ emo }}</div>
          <v-btn
            block
            class="pa-2 mt-8"
            :class="{ yellow: emo === 'Angry' }"
            size="x-large"
            @click="switchImg('Angry')"
          >
            ANGRY
          </v-btn>
          <v-btn
            block
            class="pa-2 mt-4"
            :class="{ yellow: emo === 'Cute' }"
            size="x-large"
            @click="switchImg('Cute')"
          >
            CUTE
          </v-btn>
          <v-btn
            block
            class="pa-2 mt-4"
            :class="{ yellow: emo === 'Excited' }"
            size="x-large"
            @click="switchImg('Excited')"
          >
            EXCITED
          </v-btn>
          <v-btn
            block
            class="pa-2 mt-4"
            :class="{ yellow: emo === 'Pain' }"
            size="x-large"
            @click="switchImg('Pain')"
          >
            PAIN
          </v-btn>
          <v-btn
            block
            class="pa-2 mt-4"
            :class="{ yellow: emo === 'Shocked' }"
            size="x-large"
            @click="switchImg('Shocked')"
          >
            SHOCKED
          </v-btn>
          <v-btn
            block
            class="pa-2 mt-4"
            :class="{ yellow: emo === 'Smile' }"
            size="x-large"
            @click="switchImg('Smile')"
          >
            SMILE
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}
</style>
