<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

const selectedProducts = ref<any[]>([]);
const sum = ref<number>(0);

const addProduct = (p: any) => {
  selectedProducts.value.push(p);
  sum.value += p.price;
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="p-height">
        <v-row>
          <v-col v-for="(item, index) of products" :key="index" cols="4">
            <v-card class="mx-auto text-center">
              <v-card-item>
                <div class="text-h6 mb-1">
                  {{ item.name }}
                </div>
                <div class="text">{{ item.price }}</div>
              </v-card-item>

              <div class="justify-center mb-4">
                <v-btn @click="addProduct(item)"> ADD </v-btn>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-col>

      <v-col>
        <v-container>
          <v-table class="o-height font-weight-medium">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="selectedProducts.length === 0">
                <td colspan="3" class="text-center">NO data</td>
              </tr>
              <tr v-for="(item, index) of selectedProducts" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>

          <div class="sum-style">Sum: {{ sum }}</div>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.p-height {
  overflow: auto;
  max-height: calc(100vh - 74px);
}

.o-height {
  overflow: auto;
  max-height: 650px;
}

.sum-style {
  font-size: 70px;
  position: absolute;
  bottom: 0;
}
</style>
