<script lang="ts" setup>
import { ref } from "vue";
const num = ref("0");
</script>

<template>
  <v-container>
    <v-text-field
      label="Please input Number"
      v-model="num"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      required
    ></v-text-field>

    <v-row v-if="num !== ''">
      <v-col
        class="text-center mt-4"
        v-for="i of parseInt(num)"
        :key="i"
        cols="1"
        >{{ i }}</v-col
      >
    </v-row>
  </v-container>
</template>
