<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const Counter = useCounterStore();
</script>

<template>
  <div class="text-h6 mb-1">First Component</div>
  <div class="font-weight-medium">{{ Counter.count }}</div>
  <v-btn @click="Counter.inc()" class="mt-4"> Increment </v-btn>
</template>
