<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const Counter = useCounterStore();
</script>

<template>
  <div class="text-h6 mb-1">Second Component</div>
  <div class="font-weight-medium">{{ Counter.doubleCount }}</div>
  <v-btn @click="Counter.dec()" class="mt-4"> Decrease </v-btn>
</template>
